.bundle
db/*.sqlite3
log/*
tmp/
.sass-cache/
config/amazon_s3.yml
config/database.yml
config/initializers/hoptoad.rb
config/*.sphinx.conf
db/*.sql
db/sphinx/*
dump.sql*
vendor/gems/hoptoad_notifier-2.1.3/.specification
.rvmrc
upgrade_db.sh
