You are recieving this e-mail because a request has been made to change the password associated with this user account (<%= @user.login %>).  If you would like to reset the password for this account simply click on the link below or paste it into the 
url field on your favorite browser:

<%= @url %>

If you feel this is incorrect or made in error, simply ignore the email and nothing will change.
