<% @curloc = 'changelog' -%>

<h4>Changelog</h4>

<p><pre><%= @project.changelog -%></pre></p>

<h5>Previous Releases</h5>
<% for release in @project.releases %>
  <dt><%= release.name -%></dt>
  <dd><%= release.changelog -%></dd>
<% end %>
