<div class="content">
<% @curloc = 'changelog' -%>

<h4>Changelog</h4>

<div><pre>&nbsp;<%= h @project.changelog -%></pre></div>

<h3>Previous Releases</h3>
<% for release in @project.releases %>
<dl>
  <dt><%= h release.name -%></dt>
  <dd><pre><%= h release.changelog -%>&nbsp;</pre></dd>
  </dl>
<% end %>
</div>
