<% @curloc = 'code' -%>

<% if @project.nil? -%>
<div id="content">
	<h3>Project Not Found!</h3>
</div>

<% elsif @project.repository_type == 'none' -%>
<div id="content">
	<h3>Project Has No Repository!</h3>
</div>

<% else -%>
<div id="content">

	<% if @project.repository_type == 'svn' -%>

	<p>
		This project uses subversion for it's source code management.
	</p>

	<% elsif @project.repository_type == 'git' -%>
	
	<p>
		This project uses git for it's source code management.
	</p>
	
	<% elsif @project.repository_type == 'github' -%>
	
	<p>
		This project uses github for it's source code management.
	</p>
	
	<% end -%>

	<h2>Anonymous Repository Accesss</h2>

	<p>
		To check out the code for this project anonymously, you can use the following command: <br />
		<code>
			<%= @project.repository_checkout_url -%>
		</code>
	</p>

	<h2>Developer Repository Access</h2>
	<p>
		To checkout the code for the purpose of later committing changes back to the repository, you can
		use the following command: <br />
		<code>
			<%= @project.repository_checkout_url(false) -%>
		</code>
	</p>
	
	<h2>Source Code Browser</h2>
	<p>
		To browse the code via the web, use the following site: <br />
		<code>
			<a href="<%= @project.repository_browser_url %>"><%= @project.repository_browser_url %></a>
		</code>
	</p>

</div>

<div id="wrap-column">
  <div id="column">
    <div id="column-cap-top"><span>&nbsp;</span></div>
    <div class="block">
      <h2>Subversion Resources</h2>
      <p>Links to good subversion resources.</p>
      <p>
        <a href="http://subversion.tigris.org/">Subversion Home Page</a><br />
        <a href="http://svnbook.red-bean.com/">SVN Book (good read!)</a><br />
        <a href="http://tortoisesvn.tigris.org/">TortoiseSVN client for Windows</a>
      </p>
    </div>
    <div class="block">
      <h2>Git Resources</h2>
      <p>Links to git resources.</p>
      <p>
        <a href="http://git.or.cz/">Git Home Page</a><br />
        <a href="http://www.kernel.org/pub/software/scm/git/docs/user-manual.html">Git User Manual</a><br />
        <a href="http://github.com/guides/home">Various Guides on Github</a><br />
        <a href="http://code.google.com/p/msysgit/">Git on Windows</a>
      </p>
    </div>
  </div>
</div><!--wrap-column-->

<% end -%>