<%= error_messages_for 'key' -%>

<% form_for :key, @key, { :action => @action } do |f| -%>

<p>
	Name: <%= f.text_field :name -%><br />
	Key: <%= f.text_area :key -%><br />
	<%= f.submit -%>
	<%= hidden_field_tag :id, @key.id -%>
</p>

<% end -%>