<div id="content">

<h2>Forgot Password</h2>

<p>
  Enter the email address that you used to register.  You will be sent an email with further
  instructions.
</p>

<div class="login">

<%= form_tag url_for(:action => 'forgot_password') do %>
    <%= text_field_tag :email, "", :size => 50 %><br />
    <div class="bt-forms">
      <%= submit_tag 'Request Password' %>
    </div>
<% end %>

</div>

</div>
