<div id="content">

<h2>Reset Password</h2>

<p>
  Enter your new password to complete the recovery process and log in.
</p>

<div class="login">

<%= form_tag url_for(:action => "reset_password") do %>
    Password:<br />
    <%= password_field_tag :password %><br />
    Confirm Password:<br />
    <%= password_field_tag :password_confirmation %><br />
    <div class="bt-forms">
      <%= submit_tag "Reset Your Password" %>
    </div>
<% end %>

</div>

</div>
