<div class="content">
<h2><%= h @project.name %></h2>

<h4>File Releases in Package: <%= h @package.id %></h4>

<div id="data">

  <%= render :partial => 'releases/release_list' -%>

</div>
</div><!--content-->