<% tag_cloud true, tags, %w(size1 size2 size3 size4 size5) do |name, id, css_class| %>
		<%= link_to name, {:action=>'list_tagged',:id=>name, :controller=>'project'}, {:class => css_class} %>
<% end %>