<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/rss+xml" title="CMS Made Simple RSS Feed" href="http://blog.cmsmadesimple.org/feed/" />
<title>CMS Made Simple - Forge<% unless @project.nil? -%>
: <%= h @project.name -%>
<% end -%></title>
<!--[if IE]>
	<style type="text/css">
body div#contentarea
{
	background: #FFFFFF url(/images/contentarea-homepage-bg.gif) repeat-y scroll 633px 0px;
}

 div#spinner {
   filter: alpha(opacity=80);
}


</style>
	<script type="text/javascript" src="http://www.cmsmadesimple.org/modules/MenuManager/CSSMenu.js"></script>
<![endif]-->

<!--[if lt IE 7]>

<![endif]-->



    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'modalbox.js' %>
    <%= stylesheet_link_tag 'cmsforge.css' %>
    <%= stylesheet_link_tag 'modalbox.css' %>


</head>
<body>
<div id="wrapper">

	<div id="header" class="clear">
	<a name="top" id="top"></a>
	<p id="languageselect">
		Language:
		<a href="http://www.cmsmadesimple.cz" onclick="javascript:urchinTracker('/outgoing/Czech_site');" title="CMS Made Simple Czech Site" target="_blank"><img src="http://www.cmsmadesimple.org/images/flags/cz.gif" alt="CMS made Simple Czech Site" title="CMS made Simple Czech Site" border="0" height="12" width="18" /></a>
		<a href="http://www.cmsmadesimple.de" onclick="javascript:urchinTracker('/outgoing/German_site');" title="Zur deutschsprachigen Supportseite" target="_blank"><img src="http://www.cmsmadesimple.org/images/flags/de.gif" alt="Zur deutschsprachigen Supportseite" title="Zur deutschsprachigen Supportseite" border="0" height="12" width="18" /></a>
		<a href="http://www.cmsmadesimple.fr" onclick="javascript:urchinTracker('/outgoing/French_site');" title="Site francophone" target="_blank"><img src="http://www.cmsmadesimple.org/images/flags/fr.gif" alt="Site francophone" title="Site francophone" border="0" height="12" width="18" /></a>		
		<a href="http://www.cmsmadesimple.es" onclick="javascript:urchinTracker('/outgoing/Spanish_site');" title="Sitio en Castellano" target="_blank"><img src="http://www.cmsmadesimple.org/images/flags/es.gif" alt="Sitio en Castellano" title="Sitio en Castellano" border="0" height="12" width="18" /></a>		
		<a href="http://www.cmsmadesimple.hu" onclick="javascript:urchinTracker('/outgoing/Hungarian_site');" title="CMSMS - Magyarország" target="_blank"><img src="http://www.cmsmadesimple.org/images/flags/hu.gif" alt="CMSMS - Magyarország" title="CMSMS - Magyarország" border="0" height="10" width="16" /></a>	
		<a href="http://www.cmsmadesimple.ru" onclick="javascript:urchinTracker('/outgoing/Russian_site');" title="CMSMS - русский" target="_blank"><img src="http://www.cmsmadesimple.org/images/flags/ru.gif" alt="CMSMS -  русский" title="CMSMS - русский" border="0" height="10" width="16" /></a>
	<div id="search_wrap">
		<% form_tag(url_for(:controller => :project, :action => :search ), :id => 'cntnt01moduleform_1') do -%><p id="search"><%= text_field_tag(:id, '', :size => '20') %><%= image_submit_tag('/images/button-search.gif', { :class => 'bt-search' }) %></p><% end -%>
</div>
	<h1 id="cmsmslogo"><a href="http://www.cmsmadesimple.org/">CMSMS | CMS Made Simple</a></h1>
</div>
	<div id="wrapper-contentarea">
		<div id="nav-header" class="clear">
			<div class="menuwrapper">
				<ul id="primary-nav">
					<li class="menuactive"><a class="menuactive" 
				href="http://www.cmsmadesimple.org/" accesskey="1" title="Home Page, shortcut key=1"><dfn>1: </dfn>Home</a>

				</li>
					<li class="menuparent"><a class="menuparent" 
				href="http://www.cmsmadesimple.org/about-link" ><dfn>2: </dfn>About</a>


					<ul>
					<li><a 
				href="http://www.cmsmadesimple.org/about-link/about-us" ><dfn>2.1: </dfn>About Us</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/about-link/testimonials" ><dfn>2.3: </dfn>Testimonials</a>

				</li>
					<li><a 
				href="http://www.cafepress.com/cmsmadesimple" ><dfn>2.4: </dfn>Merchandise</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/about-link/donations" ><dfn>2.5: </dfn>Donations</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/about-link/about-this-website" ><dfn>2.7: </dfn>About This Website</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/about-link/sitemap" ><dfn>2.8: </dfn>Sitemap</a>


					</li></ul>
					</li>
					<li class="menuparent"><a class="menuparent" 
				href="http://www.cmsmadesimple.org/downloads" ><dfn>3: </dfn>Downloads</a>


					<ul>
					<li><a 
				href="http://dev.cmsmadesimple.org/frs/?group_id=6" ><dfn>3.1: </dfn>File Releases</a>

				</li>
					<li><a 
				href="http://opensourcecms.com/index.php?option=content&amp;task=view&amp;id=452"  target="_blank"><dfn>3.2: </dfn>Demo</a>

				</li>
					<li><a 
				href="http://themes.cmsmadesimple.org/" title="CMSms Themes Site" target="_blank"><dfn>3.3: </dfn>CMSms Themes Site</a>

				</li>
				<!--
					<li><a 
				href="http://dev.cmsmadesimple.org/softwaremap/trove_list.php?form_cat=311" title="Get add-on modules to expand functionality here"><dfn>3.4: </dfn>Modules</a>

				</li>
					<li><a 
				href="http://dev.cmsmadesimple.org/softwaremap/trove_list.php?form_cat=312" title="Get Plugins/tags here"><dfn>3.5: </dfn>Tags</a>


					</li>--></ul>
					</li>
					<li class="menuparent"><a class="menuparent" 
				href="http://www.cmsmadesimple.org/support" ><dfn>5: </dfn>Support</a>


					<ul>
					<li><a 
				href="http://wiki.cmsmadesimple.org/" ><dfn>5.1: </dfn>Documentation</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/support/faq" ><dfn>5.2: </dfn>FAQ</a>

				</li>
					<li><a 
				href="http://blog.cmsmadesimple.org" ><dfn>5.3: </dfn>Blog</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/support/irc" ><dfn>5.4: </dfn>IRC</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/support/participate" ><dfn>5.5: </dfn>Participate</a>

				</li>
					<li><a 
				href="http://dev.cmsmadesimple.org/" ><dfn>5.6: </dfn>Report Bug or Feature Request</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/support/mailing-lists" ><dfn>5.7: </dfn>Mailing Lists</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/support/cms-made-simple-hosting" ><dfn>5.9: </dfn>CMS Made Simple Hosting</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/support/services" ><dfn>5.10: </dfn>Professional Services</a>

				</li>
					<li><a 
				href="http://www.cmsmadesimple.org/support/commercial-license" ><dfn>5.11: </dfn>Commercial License</a>


					</li></ul>
					</li>
					<li class="menuparent"><a class="menuparent" 
				href="http://forum.cmsmadesimple.org/" ><dfn>6: </dfn>Forum</a>


					<ul>
					<li><a 
				href="http://forum.cmsmadesimple.org/index.php/board,40.0.html" ><dfn>6.1: </dfn>Rules</a>

				</li>
					<li><a 
				href="http://forum.cmsmadesimple.org/index.php/board,1.0.html" ><dfn>6.2: </dfn>Announcements</a>


					</li></ul>
					</li>
					<li class="menuparent"><a class="menuparent" 
				href="http://dev.cmsmadesimple.org/" ><dfn>7: </dfn>Development</a>


					<ul>
					<li><a 
				href="http://www.cmsmadesimple.org/development/roadmap" ><dfn>7.1: </dfn>Roadmap</a>

				</li>
					<li><a 
				href="http://dev.cmsmadesimple.org/" ><dfn>7.3: </dfn>CMSMS Forge</a>

				</li>
					<li><a 
				href="http://translations.cmsmadesimple.org/" title="Link to TranslationCenter site" target="_blank"><dfn>7.5: </dfn>Translationcenter</a>


					</li></ul>		</li>
					</ul>
<div class="clearb"></div>
</div>

		</div>
		<div id="focusarea" class="clear">
		<div class="clearb">&nbsp;</div> 
		
		 <h2>CMS MADE SIMPLE FORGE</h2> 
		
          <!--project_nav-->
		  <% unless @project.nil? -%>
             <h1><%= h @project.name -%></h1> 
			  <div class="clearb">&nbsp;</div>              
                <%= render :partial => '/project/project_nav', :project => @project -%>
            <% end -%>
			<!--End project_nav-->
 		</div>
		 <div id="contentarea" class="clear shell">
		<div id="nav_main_main" class="clear">
		<!--nav_main-->
			<div id="nav_main">
			<ul class="tab-main clear" >
              <li class="tab"><a class="tablink" href="/">Forge Home</a></li>
            <% if logged_in? -%>
              <li class="tab"><a class="tablink" href="/users/<%= current_user.login -%>">My&nbsp;Page</a></li>
              <li class="tab"><a class="tablink" href="/users/<%= current_user.login -%>/edit">Edit&nbsp;Profile</a></li>
              <li class="tab"><a class="tablink" href="/beta.html" title="We're in Beta" onclick="Modalbox.show(this.href, {title: this.title, width: 600}); return false;"><span style="color: red; font-weight: bold;">We're in beta.  Read more.</span></a></li>
            <% end -%>
            </ul>
             </div><!--end nav_main-->
			 
		<!--nav_login-->
		<div id="nav_login">
			<% session[:return_to] = request.request_uri unless @current_controller == 'account' -%>
			 <ul class="tab-login clear">
            <% if !logged_in? -%>
            <li>
			<%= link_to '<img src="/images/icons/users.gif" title="Login" alt="Login" />', :controller => 'account', :action => 'login' -%>
			<%= link_to 'Login', :controller => 'account', :action => 'login' -%></li>
            <% else -%>
            <li><a href="/account/logout"><img src="/images/icons/exit.gif" title="Logout" alt="Logout" /></a>Logged in as: <%= h current_user.login -%> - <a href="/account/logout">Logout</a></li>
            <% end -%>
			</ul>
			</div><!--nav_login-->
			<!--end nav_login-->
			</div><!--nav_main_main-->
			 

            <div id="flash">
              <% for name in [:notice, :warning, :message] %>
                <% if flash[name] %>
                  <%= "<div id=\"#{name}\">#{flash[name]}</div>" %>
                <% end %>
              <% end %>
            </div>
<!-- Main Content Area -->
              <%= yield -%>
<!-- End Main Content Area -->
</div>        

<div id="adsense">
	<script type="text/javascript"><!--
	google_ad_client = "pub-7958561174011032";
	google_ad_width = "728";
	google_ad_height = "90";
	google_ad_format = "728x90_as";
	google_ad_type = "";
	google_ad_channel = "";
	google_color_border = "";
	google_color_bg = "";
	google_color_link = "";
	google_color_url = "";
	google_color_text = "";
	//--></script>

	<!--script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script-->
</div>
<div id="nav-footer" class="clear">
		<ul>
		<li class="menuactive"><a class="menuactive" 
	href="http://www.cmsmadesimple.org/" accesskey="1" title="Home Page, shortcut key=1"><dfn>1: </dfn>Home</a>

	</li>
		<li class="menuparent"><a class="menuparent" 
	href="http://www.cmsmadesimple.org/about-link" ><dfn>2: </dfn>About</a>

	</li>
		<li class="menuparent"><a class="menuparent" 
	href="http://www.cmsmadesimple.org/downloads" ><dfn>3: </dfn>Downloads</a>

	</li>
		<li class="menuparent"><a class="menuparent" 
	href="http://www.cmsmadesimple.org/support" ><dfn>5: </dfn>Support</a>

	</li>
		<li class="menuparent"><a class="menuparent" 
	href="http://forum.cmsmadesimple.org/" ><dfn>6: </dfn>Forum</a>

	</li>
		<li class="menuparent"><a class="menuparent" 
	href="http://dev.cmsmadesimple.org/" ><dfn>7: </dfn>Development</a>


				</li>
		</ul>
<div class="clearb"></div>

</div>
<div id="footer">
	<p>

		CMS made simple is Free software under the GNU/GPL licence. 
		<br /><br />Website designed by <a href="http://stevesicherman.com/" target="_blank">Steve Sicherman</a>
	</p>
</div>
	</div>
  <div id="spinner" style="display: none;">
    <img alt="Spinner" src="/images/spinner.gif?1174174309" />
  </div>
</div>
</body>
</html>
